<!DOCTYPE html>
<html lang="en" ng-app="mundo_freelance">
<head>
	<meta charset="UTF-8">
	<title>Mundo Freelance</title>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<script src="../js/angular.min.js"></script>
	<script src="../js/angular-ui-router.min.js"></script>
	<script src="../js/app.js"></script>
</head>
<body ng-controller="comoCtrl">
<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
        <li class="dropdown mydropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
	          <ul class="dropdown-menu dropdown-new text-center">
	            <li class="text-center li-container" ng-click="gotoComo()">
	            	<div class="li-img"><img src="../assets/img/icon1.png" alt=""></div>
	            	<a href="#">COMO FUNCIONA</a>
	            </li>
	            <li class="text-center li-container" onclick="location.href='./registro.html';">
	            	<div class="li-img"><img src="../assets/img/icon2.png" alt=""></div>
	            	<a href="#">COMIENZA TU PROYECTO</a>
	            </li>
	            <li class="text-center li-container" onclick="location.href='./sobrenosotros.html';">
	            	<div class="li-img"><img src="../assets/img/icon4.png" alt=""></div>
	            	<a href="#">SOBRE NOSOTROS</a>
	            </li>
	            <li class="text-center li-container">
                </li>
	          </ul>
	        </li>
	        <li class="btn btn-default mark-button networks">
	        	<span href="https://twitter.com/"><i><img src="../assets/img/Twitter.png" alt="Twitter"></i></span>
	        	<span href="https://www.facebook.com/"><i><img src="../assets/img/Facebook.png" alt="Facebook"></i></span>
	        	<span href="https://plus.google.com/"><i><img src="../assets/img/Google+.png" alt="Google+"></i></span>
	        	<span href="#"><i><img class="share" src="../assets/img/Share.png" alt="Share"></i></span>
	        </li>
	        <li class="btn btn-default mark-button"><a href="./ingreso.html">Ingresa</a></li>
	        <li class="btn btn-default mark-button"><a href="./registro.html">Registrate</a></li>
	      	<a class="navbar-brand pull-right" href="../index.html"><img src="../assets/img/logo.png" class="img img-responsive" alt="Mundo Freelance"></a>
	      </ul>
	      </ul>
	    </div>
	  </div>
	</nav>

<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
	    <div class="item">
	        <img class="car-img" src="../assets/img/slide1.jpg" alt="">
	    </div>
	    <div class="item active">
	        <img class="car-img" src="../assets/img/slide2.jpg" alt="">
	    </div>
	    <div class="item">
	        <img class="car-img" src="../assets/img/slide3.jpg" alt="">
	    </div>
	    <div class="item">
	        <img class="car-img" src="../assets/img/slide4.jpg" alt="">
	    </div>
	    <div class="item">
	        <img class="car-img" src="../assets/img/slide5.jpg" alt="">
	    </div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div>

<div class="como-info container" id="thiscomo">
	<div id="uno-p" ng-click="showInner(1)">
		<img src="../assets/como/big1.png" class="thumbnail col-sm-2" alt="" id="uno-p">
		<div class="thumbnail-hover" id="uno-content"> <p>Descripcion</p>	<p>del Proyecto</p></div>
	</div>
	<div id="dos-p" ng-click="showInner(2)">
		<img src="../assets/como/big2.png" class="thumbnail col-sm-2" alt="" id="dos-p">
		<div class="thumbnail-hover" id="dos-content"> <p>Validacion</p>	<p>del Proyecto</p></div>
	</div>
	<div id="tres-p" ng-click="showInner(3)">
		<img src="../assets/como/big3.png" class="thumbnail col-sm-2" alt="" id="tres-p">
		<div class="thumbnail-hover" id="tres-content"> <p>Asignacion</p>	<p>del Diseñador</p></div>
	</div>
	<div id="cuatro-p" ng-click="showInner(4)">
		<img src="../assets/como/big4.png" class="thumbnail col-sm-2" alt="" id="cuatro-p">
		<div class="thumbnail-hover" id="cuatro-content"><p>Desarrollo</p>	<p>del Proyecto</p></div>
	</div>
	<div id="cinco-p" ng-click="showInner(5)">
		<img src="../assets/como/big5.png" class="thumbnail col-sm-2" alt="" id="cinco-p">
		<div class="thumbnail-hover" id="cinco-content"> <span>Pagos</span></div>
	</div>
</div>

<div class="como-expand container">
	<div class="container inner-container" ng-show="activeInner === 1">
		<img src="../assets/como/big1.png" alt="" class="col-sm-4">
		<div class="col-xs-8 desc-como">
			<br>
			<p><b>Descripción del proyecto lo más detallada posible.</b></p>
			<br>
			<p>Facilita todos los detalles que puedas sobre tu proyecto.</p>
			<p>Cuando mejor expliques lo que necesitas, mas rapido lo validaremos y recibiras una propuesta firme.</p>
			<p>Por favor, indica el presupuesto aproximado del que dispones.</p>
			<p>Su hay alguna referencia actual similar a tu proyecto, comunicalo.</p>
		</div>
	</div>
	<div class="container inner-container" ng-show="activeInner === 2">
		<img src="../assets/como/big2.png" alt="" class="col-sm-4">
		<div class="col-xs-8 desc-como">
			<br>
			<p><b> Validación de tu proyecto </b></p>
			<br>
			<p>Después de que solicites tu proyecto, pasaras por el proceso de validacion personalizado por nuestro equipo de trabajo. Con esto nos aseguramos de que obtengas realmente una propuesta a medida de tu proyecto.</p>
			<p>Este proceso es de duración variable, y dependera de la informacion que nos hagas llegar y de tu disponibilidad para responder nuestras dudas.</p>
		</div>
	</div>
	<div class="container inner-container" ng-show="activeInner === 3">
		<img src="../assets/como/big3.png" alt="" class="col-sm-4">
		<div class="col-xs-8 desc-como">
			<br>
			<p><b>Asignación del personal capacitado</b></p>
			<br>
			<p>Una vez validado tu proyecto, lo asignaremos a un profesional certificado y conjuntamente te proporcionaremos una propuesta oficial.</p>
			<p>La propuesta oficial contendrá una descripcion detallada del proyecto asi como de las tecnologias a aplicar para su realizacion, una explicación general de parte del personal encargado del proyecto, asi como de los pagos, tiempos de entrega y demas puntos esenciales para el desarrollo del proyecto.</p>
		</div>
	</div>
	<div class="container inner-container" ng-show="activeInner === 4">
		<img src="../assets/como/big4.png" alt="" class="col-sm-4">
		<div class="col-xs-8 desc-como">
			<br>
			<p><b>Desarrollo del proyecto</b></p>
			<br>
			<p>Te Asignamos en tu panel interno al profesional seleccionado</p>
			<p>para que puedas interactuar con él desde el primer dia, resolver dudas, aceptar la propuesta y seguir el avance del proyecto de forma regular.</p>
		</div>
	</div>
	<div class="container inner-container" ng-show="activeInner === 5">
		<img src="../assets/como/big5.png" alt="" class="col-sm-4 img-pagos">
		<div class="col-xs-8 desc-como">
			<p><b>Pagos</b></p>
			<br>
			<p>Contamos con diferentes formas de pago para que se ajusten a tus posibilidades.</p>
			<p>Elige una de las diferentes plataformas de pago que te ofrecemos</p>
			<br>
			<p>Moneda Virtual
			<img src="../assets/como/paypal.png" alt="" class="virtual">
			<img src="../assets/como/payoneer.png" alt="" class="virtual">
			<img src="../assets/como/ingbank.png" alt="" class="virtual">
			</p>
			<br>
			<p>Bancos Online
			<img src="../assets/como/activo.png" alt="" class="virtual-2">
			<img src="../assets/como/openbank.png" alt="" class="virtual">
			</p>
			<br>
			<p>Pagos Online con tus TDC a nivel mundial
			<img src="../assets/como/visa.png" alt="" class="virtual">
			<img src="../assets/como/mastercard.png" alt="" class="virtual">
			<img src="../assets/como/american.png" alt="" class="virtual-2">
			</p>
			<br>
			<p>Paga en la moneda que prefieras, de la forma que quieras y por la plataforma de tu confianza.</p>
		</div>
	</div>
</div>

<div class="contact-info container">

	<div class="email-phone container">
		<div class="col-sm-3 col-sm-offset-3 text-center">
			<i><img class="img-contact" src="../assets/img/email.png" alt="email"></i>
			<p><span>E-MAIL</span></p>
			<p><span>mundofreelance@mail.com</span></p>
		</div>
		<div class="col-sm-3 text-center">
			<i><img class="img-contact" src="../assets/img/call.png" alt="call"></i>
			<p><span>TELÉFONO</span></p>
			<p><span>(212)123-456-789</span></p>
		</div>
	</div>
	
	<div class="container-form">
		<form action="" class="row">
			<input type="text" class="col-xs-12 col-sm-4 upper-form" placeholder="Nombre y Apellido">
			<input type="email" class="col-xs-12 col-sm-4 upper-form" placeholder="Correo">
			<input type="text" class="col-xs-12 col-sm-4 upper-form" placeholder="Asunto">
			<textarea class="col-xs-12 lower-form" placeholder="Mensaje"></textarea>
			<div class="text-center">
				<input type="submit" class="btn btn-default mark-submit" value="Enviar Mensaje">
				<br>
				<img src="../assets/img/logo.png" class="img logo-bottom" alt="Mundo Freelance">
				<p><small> &#9400; Copyright 2017 MundoFreelance. All Rights Reserved</small></p>
			</div>
		</form>
	</div>
</div>

</body>
</html>