<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
	    <div class="item">
	        <img class="car-img" src="assets/img/slide1.jpg" alt="">
	    </div>
	    <div class="item active">
	        <img class="car-img" src="assets/img/slide2.jpg" alt="">
	    </div>
	    <div class="item">
	        <img class="car-img" src="assets/img/slide3.jpg" alt="">
	    </div>
	    <div class="item">
	        <img class="car-img" src="assets/img/slide4.jpg" alt="">
	    </div>
	    <div class="item">
	        <img class="car-img" src="assets/img/slide5.jpg" alt="">
	    </div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div>

<div class="aboutus-info container" ng-if="aboutus === true">

	<div class="container-n1">
		<div class="col-sm-6 upper-aboutus">
			<div class="col-sm-6 inner-about">
				<img src="assets/aboutus/control.png" alt="" class="img about-upper-img">
				<img  class="arrow-upper-about" src="assets/aboutus/arrow-left.png" alt="" class="img img-responsive">
			</div>
			<div class="col-sm-6 padding-15">
				<b>Mayor Control de Proyectos</b>
				<p>Agilizamos la gestion de proyectos. Te asignamos al profesional aptop para tu proyecto y una vez validada la tarea, podras hacerle seguimiento facilmente a travez de nuestro panel.</p>
			</div>
		</div>
		<div class="col-sm-6 upper-aboutus">
			<div class="col-sm-6 inner-about">
				<img src="assets/aboutus/reduccion.png" alt="" class="img about-upper-img">
				<img  class="arrow-upper-about" src="assets/aboutus/arrow-left.png" alt="" class="img img-responsive">
			</div>
			<div class="col-sm-6 padding-15">
				<b>Reduccion de Riesgos</b>
				<p>Trabajando con nuestra red de profesionales certificados y nuestro panel de control, garantizamos que tu proyecto se realizara en tiempo, calidad y coste</p>
			</div>
		</div>
	</div>

	<div class="container-n2">
		<div class="col-sm-8 lower-aboutus">
			<div class="col-sm-12 inner-upper">
				<b>Confidencialidad</b>
				<p>La informacion de tu proyecto se compartira solamente con el profesional seleccionado. No aparecera publicamente en nuestra pagina</p>
			</div>
			<div class="col-sm-6 inner-lower">
				<b>100% profesionales certificados</b>
				<p>Validamos las habilidades experiencia y conocimientos de cada uno de los profesionales. Cada caso en particular lo analizamos con sumo cuidado e importancia.</p>
			</div>
			<div class="col-sm-6 inner-lower">
				<b>Estimadora de Precios</b>
				<p>Estimamos un presupuesto basandonos en los estandares internacionales, siempre pensando en el bienestar del cliente y del diseñador, asi garantizamos el mejor precio/calidad del mercado</p>
			</div>
		</div>
		<div class="col-sm-4 lower-right-aboutus">
				<div class="col-sm-12 inner-about">
					<img src="assets/aboutus/optimizacion.png" alt="" class="img img-responsive about-right-img">
					<img  class="arrow-right-about" src="assets/aboutus/arrow-up.png" alt="" class="img img-responsive">
				</div>
			<div class="col-sm-12 padding-15">
				<b>Optimizacion de costes</b>
				<p>Contamos con una red de profesionales aptos para todo tipo de proyecto. Trabajamos con diseñadores de todo el mundo y gracias a eso encontraremos una solucion adaptada a tu presupuesto.</p>
			</div>
		</div>
	</div>
	
</div>

<div class="contact-info container">

	<div class="email-phone container">
		<div class="col-sm-3 col-sm-offset-3 text-center">
			<i><img class="img-contact" src="assets/img/email.png" alt="email"></i>
			<p><span>E-MAIL</span></p>
			<p><span>mundofreelance@mail.com</span></p>
		</div>
		<div class="col-sm-3 text-center">
			<i><img class="img-contact" src="assets/img/call.png" alt="call"></i>
			<p><span>TELÉFONO</span></p>
			<p><span>(212)123-456-789</span></p>
		</div>
	</div>
	
	<div class="container-form">
		<form action="" class="row">
			<input type="text" class="col-xs-12 col-sm-4 upper-form" placeholder="Nombre y Apellido">
			<input type="email" class="col-xs-12 col-sm-4 upper-form" placeholder="Correo">
			<input type="text" class="col-xs-12 col-sm-4 upper-form" placeholder="Asunto">
			<textarea class="col-xs-12 lower-form" placeholder="Mensaje"></textarea>
			<div class="text-center">
				<input type="submit" class="btn btn-default mark-submit" value="Enviar Mensaje">
				<br>
				<img src="assets/img/logo.png" class="img logo-bottom" alt="Mundo Freelance">
				<p><small> &#9400; Copyright 2017 MundoFreelance. All Rights Reserved</small></p>
			</div>
		</form>
	</div>

</div>