<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown btn btn-default mark-button">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
          <ul class="dropdown-menu dropdown-new text-center">
            <li class="text-center li-container">
            	<div class="li-img"><img src="assets/img/icon1.png" alt=""></div>
            	<a href="#">COMO FUNCIONA</a>
            </li>
            <li class="text-center li-container">
            	<div class="li-img"><img src="assets/img/icon2.png" alt=""></div>
            	<a href="#">COMIENZA TU PROYECTO</a>
            </li>
            <li class="text-center li-container">
            	<div class="li-img"><img src="assets/img/icon3.png" alt=""></div>
            	<a href="#">TRABAJAR COMO FREELANCE</a>
            </li>
            <li class="text-center li-container" ng-click="showAboutUs()">
            	<div class="li-img"><img src="assets/img/icon4.png" alt=""></div>
            	<a href="#">SOBRE NOSOTROS</a>
            </li>
            <li class="text-center li-container">
            	<div class="li-img"><img src="assets/img/icon4.png" alt=""></div>
            	<a href="#">TERMINOS Y CONDICIONES</a>
            </li>
            <!--
            <div class="menu-end">
            	<br>
            </div>
            -->
          </ul>
        </li>
        <li class="btn btn-default mark-button networks">
        	<span href="https://twitter.com/"><i><img src="assets/img/Twitter.png" alt="Twitter"></i></span>
        	<span href="https://www.facebook.com/"><i><img src="assets/img/Facebook.png" alt="Facebook"></i></span>
        	<span href="https://plus.google.com/"><i><img src="assets/img/Google+.png" alt="Google+"></i></span>
        	<span href="#"><i><img class="share" src="assets/img/Share.png" alt="Share"></i></span>
        </li>
        <li class="btn btn-default mark-button" ui-sref="base.ingreso">Ingresa</li>
        <li class="btn btn-default mark-button" ui-sref="base.registro">Registrate</li>
      	<a class="navbar-brand pull-right" href="" ui-sref="base.home"><img src="assets/img/logo.png" class="img img-responsive" alt="Mundo Freelance"></a>
      </ul>
      </ul>
    </div>
  </div>
</nav>